body{
    font-family: normal, 15pt, Arial;
    background: rgb(71, 71, 201);
}
header{
    color: white;
    text-align: center; 
       
}
section{
    /*alterando cor de fundo da sessão */
    background: white;
    /*largura da sessão */
    width: 500px;
    /* centralizando*/
    margin: auto;
    /* espaço entre o que está dentro e a margem interna*/
    padding: 15px;
    /* borda arredondada*/
    border-radius: 10px;
    /* sombra da caixa*/
    box-shadow: 5px 5px 10px rgb(54, 52, 52);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}

div{
    /* alinhando imagem ao centro*/
    text-align: center;
    /* espalo interno da borda*/
    padding: 5px;
}